body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#111;
  color:white;
  font-family:Arial;
  text-align:center;
}

.box{
  background:#222;
  padding:40px;
  border-radius:10px;
  box-shadow:0 0 20px rgba(0,0,0,0.5);
}

h1{
  color:red;
}

button{
  padding:12px 20px;
  margin-top:20px;
  border:none;
  background:orange;
  color:black;
  font-weight:bold;
  cursor:pointer;
  border-radius:5px;
}

button:hover{
  background:gold;
}